<div id="wrapper" ng-controller="findEmployeeController">
	<div ng-include="'app/templates/navbar.html'"></div>
		<div class="container-fluid">
			<section id="header">
				<div class="col-sm-12">
					<h1>Reports</h1>
					<p>PDF a report.</p>
				</div>
			</section>
			<section id="content">
				<div class="col-sm-12 bd-b">
					<div class="about-report pull-left ">
						<h4>Email List By Location</h4>
						<p>This report provides a list of emails per location.</p>
					</div>
					<div class="pull-right m-t-m">
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/email_lister_by_location.pdf"><button class="btn btn-primary">PDF</button></a>
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/email_lister_by_location.csv"><button class="btn btn-primary">CSV</button></a>
					</div>
				</div>
				<div class="col-sm-12 bd-b">
					<div class="about-report pull-left ">
						<h4>License Plate Lookup</h4>
						<p>This report provides a list of employees and their associated license plates.</p>
					</div>
					<div class="pull-right m-t-m">
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/license_plate_lookup.pdf"><button class="btn btn-primary">PDF</button></a>
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/license_plate_lookup.csv"><button class="btn btn-primary">CSV</button></a>
					</div>
				</div>
				<div class="col-sm-12 bd-b">
					<div class="about-report pull-left">
						<h4>Primary Parking Assignment</h4>
						<p>This report provides a list of primary parking assignments.</p>
					</div>
					<div class="pull-right m-t-m">
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/primary_assignment_totals.pdf"><button class="btn btn-primary">PDF</button></a>
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/primary_assignment_totals.csv"><button class="btn btn-primary">CSV</button></a>
					</div>
				</div>
				<div class="col-sm-12 bd-b">
					<div class="about-report pull-left">
						<h4>Group Accounts</h4>
						<p>This report provides a group account informaion.</p>
					</div>
					<div class="pull-right m-t-m">
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/group_account_employee_lister.pdf"><button class="btn btn-primary">PDF</button></a>
						<a href="https://dev-csr-clevelandclinic.locomobi.com/report/group_account_employee_lister.csv"><button class="btn btn-primary">CSV</button></a>
					</div>
				</div>
				<div class="col-sm-12 bd-b">
					<div class="about-report pull-left">
						<h4>General Information Report</h4>
						<p>NOT WORKING</p>
					</div>
					<div class="pull-right m-t-m">
						<a href="#"><button class="btn btn-primary">PDF</button></a>
						<a href="#"><button class="btn btn-primary">CSV</button></a>
					</div>
				</div>
			</section>
		</div>
</div>