<div id="wrapper" ng-controller="violationController">
	<div ng-include="'app/templates/navbar.html'"></div>
		<div class="container-fluid">
			<section id="header">
				<div class="col-sm-12">
					<h1>Violations</h1>
					<p>View violations</p>
				</div>
			</section>
			<section id="content">
				<div class="col-sm-12">
					<div class="container-fluid">
						<div class="row m-t-m">
							<div class="col-sm-8">
								<table id="violations" class="table table-striped table-bordered dataTable no-footer"></table>
							</div>
							<div class="col-sm-4 right-input">
								<h4>Violation Details</h4>
								<div class="col-sm-12">
									<label for="guest-fullname">Employee Id:</label><br>
									<input class="form-control input-md m-b-s inline" name="guest-fullname" ng-model="violation.employee_id" disabled="" />
								</div>
								<div class="col-sm-12">
									<label for="guest-fullname">Type:</label><br>
									<input class="form-control input-md m-b-s inline" name="guest-fullname" ng-model="violation.type" placeholder="Parking"/>
								</div>
								<div class="col-sm-12">
									<label for="vehicle-license">Date:</label><small class="red m-l-s">*</small><br>
									<input class="form-control m-b-s inline" name="vehicle-license" ng-model="violation.date" placeholder="01/13/17"/><br>
								</div>
								<div class="col-sm-12">
									<label for="vehicle-license">Time:</label><small class="red m-l-s">*</small><br>
									<input class="form-control m-b-s inline" name="vehicle-license" ng-model="violation.time" placeholder="12:01"/><br>
								</div>
								<div class="col-sm-12">
									<label for="vehicle-license">License Plate:</label><small class="red m-l-s">*</small><br>
									<input class="form-control m-b-s inline" name="vehicle-license" ng-model="violation.lpn" placeholder="123ABC"/><br>
								</div>
								<div class="col-sm-12 m-b-m">
									<label for="vehicle-license">Description:</label><small class="red m-l-s">*</small><br>
									<textarea ng-model="violation.description"></textarea>
								</div>
								<div class="center m-t-m">
									<button class="btn btn-primary add-violation" ng-click="violation_update()">Add Violation</button>
								</div>
							</div>
						</div>
				    </div>
				</div>
			</section>
		</div>
</div>